
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

::selection{
  color: #ffff;
  background: rgb(142, 73, 232);
}

body{
  width: 100%;
  height: 100vh;
  /* overflow: hidden; */
  padding: 10px;
  background: linear-gradient(to bottom, #68EACC 0%, #497BE8 100%);
}

.wrapper{
  background: #fff;
  max-width: 700px;
  max-height: 200px;
  width: 100%;
  height: 100%;
  margin: 120px auto;
  padding: 25px;
  border-radius: 5px;
  box-shadow: 0px 10px 15px rgba(0,0,0,0.1);
}

.wrapper header{
  font-size: 30px;
  font-weight: 600;
  
}

.wrapper .inputField{
  margin: 20px 0;
  margin-bottom:  10px;
  width: 100%;
  display: flex;
  height: 45px;
}

.inputField input{
  width: 85%;
  height: 100%;
  outline: none;
  border-radius: 3px;
  border: 1px solid #ccc;
  font-size: 17px;
  padding-left: 15px;
  transition: all 0.3s ease;
}

.inputField input:focus{
  border-color: #00a2ff;
}

.inputField button{
  width: 50px;
  height: 100%;
  border: none;
  color: #fff;
  margin-left: 5px;
  font-size: 21px;
  outline: none;
  background: #00a2ff;
  cursor: pointer;
  border-radius: 3px;
  opacity: 0.6;
  transition: all 0.3s ease;
}

.container{
    display: flex;
    justify-content:normal;
    margin: 0px;
}

input[type="file"]{
    display: none;
}

input[type="submit"]{
    display: none;
}

.custom-file-upload{
    color: #fff;
    background: #00a2ff;
    padding: 6px 12px;
    margin: 5px;
    border-radius: 3px;
    opacity: 0.6;
    cursor: pointer;
}

.custom-submit{
    color: #fff;
    background: #00a2ff;
    padding: 6px 12px;
    margin: 5px;
    cursor: pointer;
    border-radius: 3px;
    opacity: 0.6;  
}

.download{
  color: #fff;
  background: #00a2ff;
  padding: 6px 12px;
  margin: 5px;
  border-radius: 3px;
  opacity: 0.6;
  cursor: pointer;
  
  
}

.tooltip{
  position: relative;
  display: inline-block;
  border-bottom: 1px rgb(255, 0, 0);
}

.tooltiptext{
  display: hidden;
  width: 320px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltiptext::after{
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext{
  visibility: visible;
  opacity: 1;
}

.container2{
  display: flex;
  justify-content:center;
  margin: 0px;
  padding: 10px;
  border-radius: 5px;
}

.message{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  background-color: #fff;
  border-radius: 5px;
}

.loader {
  display:none;
  border: 5px solid #a5a5a5; /* Light grey */
  border-top: 5px solid #3498db; /* Blue */
  border-radius: 100%;
  width: 34px;
  height: 34px;
  animation: spin 1.5s linear infinite;
  justify-content:left;
  margin: 5px;
  margin-bottom: 10px;
}

.loadercontainer {
  display:inline-block;
  margin: 5px;
  margin-bottom: 10px;
}


.loadingwpic {
  position: center;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 9999999;
}

a:link {
  color: #fff;
  text-decoration: none;
  opacity: none
}

a:hover {
  color:  #fff;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@media only screen and (max-width: 620px) {
  /* For mobile phones: */
  .wrapper {
    max-height: 255px;
  }
  .tooltiptext{
    display: hidden;
    width: 130px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: -525%;
    right: -50%;
    opacity: 0;
    transition: opacity 0.3s;
  }
  .tooltiptext::after{
    content: "";
    position: absolute;
    bottom: -100%;
    right: 90%;
    padding-right: 10px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  .tooltip input .tooltiptext{
    visibility: visible;
    opacity: 1;
  }
}




